.footer {
    width: 100%;
    padding: 3rem;
    height: auto;
    background-color: black;

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__logo {
        color: #fff;
        font-family: 'Octosquares';
        font-size: clamp(0.6rem, 1.7vw, 3.125rem);
        font-weight: 400;
        letter-spacing: 0.6rem;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__descriptions {
        font-size: clamp(0.875rem, 1vw, 1.25rem);
        font-weight: 400;
        color: #fff;
    }
}
